* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.imageStyle {
  height: 100px;
  width: 100px;
}

.countryCard {
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  gap: 10px;
}

.textStyle {
  font-size: 1rem;
  font-weight: 600;
}

.searchBar {
  width: 100vw;
  height: 50px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0.1px 0.1px 2px;
  margin-bottom: 1rem;
}

.searchBar input {
  height: 35px;
  width: 50vw;
  padding: 10px;
}
